<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Post</title>
    <link rel="stylesheet" href="/style1.css"/>
</head>
<body>
    <form method="POST" action="/posts" >
        <h1>    Enter a New post</h1>
        <br>
        <input placeholder=" enter username" name="username" /> <br/>
        <textarea placeholder="enter  your post" name="content"></textarea><br/>
        <button>Submit Post</button>
    </form>
</body>
</html>